* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: green;
  padding: 20px 0;
}

.header ul {
  text-align: center;
}

.header ul li {
  display: inline-block;
  color: white;
  margin: 0 10px;
}

.banner {
  background-color: aqua;
  text-align: center;
  padding: 100px 50px;
}

.about-us {
  background-color: burlywood;
  padding: 20px 30px;
}

.about-us h3 {
  display: none;
}

.about-us ul {
  display: inline-block;
}

.about-us ul li {
  display: inline-block;
}

.footer {
  background-color: aquamarine;
  padding: 20px 0;
}

.footer ul {
  text-align: center;
}

.footer ul li {
  display: inline-block;
  margin: 0 20px;
}
