* {
  margin: 0;
  padding: 0;
}

.card-1 {
  background-color: aquamarine;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 20px 10px 20px 30px rgba(127, 255, 212, 0.5);
}

.card-1 h4 {
  color: chocolate;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card-1 img {
  width: 70%;
}

.card-1 p {
  text-align: justify;
  margin-top: 5px;
}

.card-1 button {
  background-color: #eade81;
  color: #e72b08ba;
  padding: 5px 30px;
  margin: 5px;
  border-radius: 5px;
}
